@import forms.UserForm
@import helper.inputText
@import helper.inputPassword


@(message: String, userForm: Form[UserForm])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("User", message) {

    <div class="container">
    @if(userForm.hasGlobalErrors) {
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">x</a>
            <p class="error">
            @userForm.globalError.message
            </p>
        </div>
    }

    <h3>Create New User Account</h3>
    @helper.form(action = routes.CrudController.addUser(), 'class -> "well form-horizontal") {
        @inputText(userForm("name"), '_showConstraints -> false,'_label -> "Name")
        @inputPassword(userForm("password"), '_showConstraints -> false,'_label -> "Password")
        <div class="controls">
            <input type="submit" class="btn btn-primary"/>
        </div>
    }
}