@import forms.CardForm
@(message: String)

@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("YU-GI-OH", message) {

    <h3>YU-GI-OH-NO DONT SUE US</h3>

    <label>Please click "Add Card" to do... something.</label>
    @helper.form(action = routes.CardController.addCard(), 'class -> "well form-horizontal") {


        <div class="container">
            <div class="controls">

            <a href="addCard" class="btn btn-primary" role="button" aria-disabled="false">Add Card</a>

            </div>
            <ul id="tasks"></ul>

        </div>
    }
}